In [63]:
import pandas as pd
df = pd.read_csv('games.csv')
#df['created_at'] = pd.to_datetime(df['created_at']).dt.strftime('%Y-%m-%d')
df

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20053,EfqH7VVH,True,1.499791e+12,1.499791e+12,24,resign,white,10+10,belcolt,1691,jamboger,1220,d4 f5 e3 e6 Nf3 Nf6 Nc3 b6 Be2 Bb7 O-O Be7 Ne5...,A80,Dutch Defense,2
20054,WSJDhbPl,True,1.499698e+12,1.499699e+12,82,mate,black,10+0,jamboger,1233,farrukhasomiddinov,1196,d4 d6 Bf4 e5 Bg3 Nf6 e3 exd4 exd4 d5 c3 Bd6 Bd...,A41,Queen's Pawn,2
20055,yrAas0Kj,True,1.499698e+12,1.499698e+12,35,mate,white,10+0,jamboger,1219,schaaksmurf3,1286,d4 d5 Bf4 Nc6 e3 Nf6 c3 e6 Nf3 Be7 Bd3 O-O Nbd...,D00,Queen's Pawn Game: Mason Attack,3
20056,b0v4tRyF,True,1.499696e+12,1.499697e+12,109,resign,white,10+0,marcodisogno,1360,jamboger,1227,e4 d6 d4 Nf6 e5 dxe5 dxe5 Qxd1+ Kxd1 Nd5 c4 Nb...,B07,Pirc Defense,4
20057,N8G2JHGG,True,1.499643e+12,1.499644e+12,78,mate,black,10+0,jamboger,1235,ffbob,1339,d4 d5 Bf4 Na6 e3 e6 c3 Nf6 Nf3 Bd7 Nbd2 b5 Bd3...,D00,Queen's Pawn Game: Mason Attack,3

In [64]:
df.head()
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20058 entries, 0 to 20057
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              20058 non-null  object
 1   rated           20058 non-null  bool
 2   created_at      20058 non-null  float64
 3   last_move_at    20058 non-null  float64
 4   turns           20058 non-null  int64
 5   victory_status  20058 non-null  object
 6   winner          20058 non-null  object
 7   increment_code  20058 non-null  object
 8   white_id        20058 non-null  object
 9   white_rating    20058 non-null  int64
 10  black_id        20058 non-null  object
 11  black_rating    20058 non-null  int64
 12  moves           20058 non-null  object
 13  opening_eco     20058 non-null  object
 14  opening_name    20058 non-null  object
 15  opening_ply     20058 non-null  int64
dtypes: bool(1), float64(2), int64(4), object(9)
memory usage: 2.3+ MB

(20058, 16)

In [65]:
df.isnull().sum()

id                0
rated             0
created_at        0
last_move_at      0
turns             0
victory_status    0
winner            0
increment_code    0
white_id          0
white_rating      0
black_id          0
black_rating      0
moves             0
opening_eco       0
opening_name      0
opening_ply       0
dtype: int64

In [66]:
df.value_counts()

id        rated  created_at    last_move_at  turns  victory_status  winner  increment_code  white_id          white_rating  black_id     black_rating  moves                                                                                                                                                                                                                                                                                                                                                                                                                                                                     opening_eco  opening_name                                        opening_ply
1b0kpInt  True   1.503752e+12  1.503753e+12  111    mate            white   7+2             taranga           1288          jamila1234   1232          e4 c6 d4 e6 Nf3 d5 exd5 cxd5 Nc3 Bd7 Bb5 Nc6 Bf4 a6 Ba4 b5 Bb3 Bc8 a3 Bd6 Bxd6 Qxd6 O-O b4 axb4 Nxb4 Ne5 Nf6 Nd3 a5 Nxb4 axb4 Rxa8 O-O Nb5 Qc6 Rxc8 Rxc8 Na7 Qc7 Nxc8 Qxc8 Qd3 g6 c3 bxc3 bxc3 Kg7 c4 dxc4 Bxc4 Qd8 Rd1 e5 dxe5 Qxd3 exf6+ Kxf6 Rxd3 g5 Rh3 Kg6 Bd3+ f5 Rf3 g4 Rxf5 Kh6 Rf4 Kg5 Ra4 h6 h3 gxh3 gxh3 Kf6 Rh4 Kg7 Bf5 Kf6 Rf4 Kg7 Rh4 Kf6 Rxh6+ Kxf5 Ra6 Kg5 Kh2 Kf4 h4 Kg4 Rh6 Kf5 h5 Kg5 Rh8 Kf6 h6 Ke5 h7 Kf6 Rf8+ Kg7 h8=Q+ Kg6 Rf6+ Kg5 Qh6+ Kg4 Rf4#  B12          Caro-Kann Defense                                   3              3
Q0jogkvi  False  1.503680e+12  1.503680e+12  21     outoftime       white   5+8             taranga           1289          snapper      1500          e4 e5 Nf3 d6 Bc4 h6 Nc3 Bg4 h3 Bh5 d3 c6 Be3 Nf6 O-O a5 d4 a4 dxe5 Nfd7 exd6                                                                                                                                                                                                                                                                                                                                                                                              C41          Philidor Defense #3                                 5              3
JfT9yIBl  True   1.504429e+12  1.504429e+12  24     resign          white   10+0            taranga           1267          shahen07     1344          e4 e5 Nf3 Nc6 Bb5 a6 Bxc6 bxc6 O-O d6 d4 exd4 Nxd4 Nf6 Nxc6 Nxe4 Nxd8 Kxd8 Re1 Ng5 Bxg5+ Kd7 Qd5 Rb8                                                                                                                                                                                                                                                                                                                                                                      C68          Ruy Lopez: Exchange Variation |  Lutikov Variation  8              3
1GJI8zgp  True   1.504428e+12  1.504428e+12  20     resign          white   45+1            aslan737373       1332          taranga      1277          e4 e5 Nf3 Nc6 Bc4 Bc5 d3 Nf6 Ng5 d5 exd5 Nxd5 Qf3 Nf6 Nxf7 Bg4 Qg3 e4 Nxd8 exd3                                                                                                                                                                                                                                                                                                                                                                                           C50          Italian Game: Giuoco Pianissimo |  Normal           8              3
VCm6Y9sa  True   1.504430e+12  1.504430e+12  30     resign          white   10+0            kaoruko           1595          taranga      1281          e4 e5 d4 exd4 Qxd4 Nc6 Qd1 Nf6 Bd3 Bc5 Nh3 d6 Ng5 h6 Nf3 Bg4 O-O Nd4 c3 Nxf3+ gxf3 Bh5 Qb3 Bxf3 e5 dxe5 Qb5+ Bc6 Qxc5 Qd4                                                                                                                                                                                                                                                                                                                                                 C22          Center Game: Normal Variation                       6              3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ..
04EIrpaP  True   1.480540e+12  1.480540e+12  39     resign          white   15+0            hairy-conniption  1793          samuelpro    1076          e4 e6 d4 d5 exd5 exd5 Nf3 Qe7+ Be3 f5 Ne5 f4 Bxf4 Nc6 Qh5+ g6 Qf3 Bg7 Bb5 a6 Bxc6+ bxc6 O-O Nf6 Nc3 Ng4 Nxc6 Qe6 Rfe1 Be5 Nxe5 Nxe5 Bxe5 Qb6 Bxh8+ Kd7 Nxd5 Qxd4 Bxd4                                                                                                                                                                                                                                                                                                     C01          French Defense: Exchange Variation                  5              1
05OhO1bm  True   1.502250e+12  1.502250e+12  63     mate            white   15+0            tahastanly        1393          snlakgn      1427          e4 e6 d4 d5 exd5 exd5 Qe2+ Be7 Qe5 f6 Qg3 Nc6 Qxg7 Kd7 Qxh8 Nh6 Qxh7 Nf5 Qxf5+ Ke8 Qh5+ Kd7 Nc3 Nxd4 Qxd5+ Ke8 Qg8+ Kd7 Bb5+ c6 Qg4+ Kc7 Bf4+ Bd6 Bxd6+ Kxd6 Qxd4+ Kc7 Qxd8+ Kxd8 Bd3 Be6 Nf3 c5 O-O-O c4 Bxc4+ Ke7 Rde1 Rc8 Bxe6 Rxc3 bxc3 b6 h4 Kf8 h5 Kg7 h6+ Kh7 Bf5+ Kh8 Re8#                                                                                                                                                                                        C01          French Defense: Exchange Variation                  5              1
05YWdks5  False  1.502330e+12  1.502330e+12  55     mate            white   10+0            cracking12345     1732          ducannguyen  1654          d4 d5 c4 c6 Nc3 e6 Nf3 Nf6 Bg5 Bb4 cxd5 Bxc3+ bxc3 cxd5 e3 O-O Bd3 Nbd7 O-O h6 Bh4 Qa5 c4 dxc4 Bxc4 Ne4 Qc2 Nd6 Bb3 Re8 Bg3 Nf5 Be5 Nxe5 Nxe5 b6 Rfc1 Bb7 Qc7 Bxg2 Qxf7+ Kh7 Qg6+ Kh8 Nf7+ Kg8 Bxe6 Bh3 Nxh6+ Kh8 Nf7+ Kg8 Ng5+ Kh8 Qh7#                                                                                                                                                                                                                                  D43          Semi-Slav Defense                                   8              1
05uL2Hod  True   1.480114e+12  1.480114e+12  50     resign          black   2+10            rexlex            2004          tunisinov    1918          d4 Nf6 c4 g6 Nc3 Bg7 Nf3 d6 Bf4 Nbd7 Qd2 c5 d5 O-O Bh6 b6 h4 Bb7 h5 e6 hxg6 fxg6 Bxg7 Kxg7 Qh6+ Kg8 Ng5 exd5 Nxd5 Bxd5 cxd5 Qe7 e3 Ne5 O-O-O Neg4 Qh3 Nxf2 Qe6+ Qxe6 Nxe6 Nxh1 Nxf8 Kxf8 Bb5 Ng3 e4 Ngxe4 Rf1 Kg7                                                                                                                                                                                                                                                         E61          King's Indian Defense                               6              1
01PkUIzB  True   1.490967e+12  1.490967e+12  62     resign          black   10+0            sheik_yerbouti    1578          albarnal     1505          e4 e5 Nf3 Nc6 Bc4 h6 Nc3 Bc5 d3 Nf6 a3 Ng4 Rf1 Nd4 Be3 Nxf3+ gxf3 Nxe3 fxe3 Bxe3 Qe2 Qh4+ Kd1 Bf4 Nd5 O-O Rg1 Bxh2 Ne7+ Kh8 Rxg7 Kxg7 Qg2+ Bg3 Nf5+ Kf6 Nxh4 Bxh4 Ke2 d6 Rh1 Bg5 Rh5 Be6 Bxe6 fxe6 c3 Rg8 Qh3 Rg6 d4 exd4 cxd4 a5 f4 Bxf4 Qh4+ Bg5 Rxg5 hxg5 Qh8+ Rxh8                                                                                                                                                                                                    C55          Italian Game: Anti-Fried Liver Defense              6              1
Name: count, Length: 19629, dtype: int64

In [67]:
df.describe()

,created_at,last_move_at,turns,white_rating,black_rating,opening_ply
count,2.005800e+04,2.005800e+04,20058.000000,20058.000000,20058.000000,20058.000000
mean,1.483617e+12,1.483618e+12,60.465999,1596.631868,1588.831987,4.816981
std,2.850151e+10,2.850140e+10,33.570585,291.253376,291.036126,2.797152
min,1.376772e+12,1.376772e+12,1.000000,784.000000,789.000000,1.000000
25%,1.477548e+12,1.477548e+12,37.000000,1398.000000,1391.000000,3.000000
50%,1.496010e+12,1.496010e+12,55.000000,1567.000000,1562.000000,4.000000
75%,1.503170e+12,1.503170e+12,79.000000,1793.000000,1784.000000,6.000000
max,1.504493e+12,1.504494e+12,349.000000,2700.000000,2723.000000,28.000000

In [68]:
df['Skill_Level_White'] = ''
df['Skill_Level_Black'] = '' #Created two new columns for skill levels

# White player skill levels
df.loc[df['white_rating'] < 1000, 'Skill_Level_White'] = 'Beginner'
df.loc[(df['white_rating'] >= 1000) & (df['white_rating'] < 2000), 'Skill_Level_White'] = 'Intermediate'
df.loc[df['white_rating'] >= 2000, 'Skill_Level_White'] = 'Advanced'

# Black player skill levels
df.loc[df['black_rating'] < 1000, 'Skill_Level_Black'] = 'Beginner'
df.loc[(df['black_rating'] >= 1000) & (df['black_rating'] < 2000), 'Skill_Level_Black'] = 'Intermediate'
df.loc[df['black_rating'] >= 2000, 'Skill_Level_Black'] = 'Advanced'

df[['white_rating', 'Skill_Level_White', 'black_rating', 'Skill_Level_Black']].head(10)

   white_rating Skill_Level_White  black_rating Skill_Level_Black
0          1500      Intermediate          1191      Intermediate
1          1322      Intermediate          1261      Intermediate
2          1496      Intermediate          1500      Intermediate
3          1439      Intermediate          1454      Intermediate
4          1523      Intermediate          1469      Intermediate
5          1250      Intermediate          1002      Intermediate
6          1520      Intermediate          1423      Intermediate
7          1413      Intermediate          2108          Advanced
8          1439      Intermediate          1392      Intermediate
9          1381      Intermediate          1209      Intermediate

In [69]:
df.dtypes

id                    object
rated                   bool
created_at           float64
last_move_at         float64
turns                  int64
victory_status        object
winner                object
increment_code        object
white_id              object
white_rating           int64
black_id              object
black_rating           int64
moves                 object
opening_eco           object
opening_name          object
opening_ply            int64
Skill_Level_White     object
Skill_Level_Black     object
dtype: object

In [70]:
# Converting the time stuff to just length of game in minutes
#df['game_length_ms'] = df['last_move_at'] - df['created_at']
#df['game_length_min'] = df['game_length_ms'] / 60000

# Checking new column
#df[['created_at', 'last_move_at', 'game_length_ms', 'game_length_min']].head()

# This dataset's time columns aren't precise enough to get good data so I'm deleting them. Cleaning and removing other useless columns here as well.
#df = df.drop(columns=['created_at', 'last_move_at', 'game_length_ms'])
df.drop(columns=['id', 'opening_eco', 'opening_ply', 'created_at', 'last_move_at', 'increment_code'], inplace=True)

df.head()

,rated,turns,victory_status,winner,white_id,white_rating,black_id,black_rating,moves,opening_name,Skill_Level_White,Skill_Level_Black
0,False,13,outoftime,white,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,Slav Defense: Exchange Variation,Intermediate,Intermediate
1,True,16,resign,black,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,Nimzowitsch Defense: Kennedy Variation,Intermediate,Intermediate
2,True,61,mate,white,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,King's Pawn Game: Leonardis Variation,Intermediate,Intermediate
3,True,61,mate,white,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,Queen's Pawn Game: Zukertort Variation,Intermediate,Intermediate
4,True,95,mate,white,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,Philidor Defense,Intermediate,Intermediate

In [71]:
# Sorting data by White Rating (High to Low)
df_sorted = df.sort_values(by='white_rating', ascending=False)
df_sorted.head()

,rated,turns,victory_status,winner,white_id,white_rating,black_id,black_rating,moves,opening_name,Skill_Level_White,Skill_Level_Black
13009,False,20,resign,white,justicebot,2700,youredeadmeat,1486,e4 c6 d4 d5 Nc3 dxe4 Nxe4 Bf5 Ng3 Bg6 N1e2 Nf6...,Caro-Kann Defense: Classical Variation,Advanced,Intermediate
10147,True,149,resign,white,blitzbullet,2622,milancuruvija,2188,e4 Nc6 Nf3 d5 exd5 Qxd5 Nc3 Qa5 d4 Bg4 Be3 O-O...,Nimzowitsch Defense | Declined Variation,Advanced,Advanced
11602,False,143,resign,white,lance5500,2621,anonymous_enemy,1500,d4 Nf6 c4 e6 Nf3 Bb4+ Bd2 Qe7 g3 b6 Bg2 Bb7 O-...,Bogo-Indian Defense: Nimzowitsch Variation,Advanced,Intermediate
12613,False,47,resign,white,lance5500,2621,koryakinrus,1715,d4 Nf6 c4 g6 Nc3 d5 Bg5 dxc4 e4 Bg7 Bxc4 O-O h...,Gruenfeld Defense: Stockholm Variation,Advanced,Intermediate
12611,False,30,resign,black,lance5500,2621,koryakinrus,1715,e4 e5 Nf3 Nc6 Bc4 Nf6 Ng5 Bc5 Bxf7+ Ke7 Bb3 d6...,Italian Game: Two Knights Defense | Traxler C...,Advanced,Intermediate

In [72]:
# Grouping by victory status to see most common
df.groupby('victory_status').size().sort_values(ascending=False)

victory_status
resign       11147
mate          6325
outoftime     1680
draw           906
dtype: int64

In [73]:
# Grouping by color win
df.groupby('winner').size()

winner
black     9107
draw       950
white    10001
dtype: int64

In [75]:
# Now what does it show by skill level?
df.groupby('Skill_Level_White')['winner'].value_counts()

Skill_Level_White  winner
Advanced           white     1116
                   black      572
                   draw       119
Beginner           black      179
                   white       61
                   draw         7
Intermediate       white     8824
                   black     8356
                   draw       824
Name: count, dtype: int64

In [76]:
#What are the highest rated games?
df.sort_values(by=['white_rating', 'black_rating'], ascending=False).head(10)

,rated,turns,victory_status,winner,white_id,white_rating,black_id,black_rating,moves,opening_name,Skill_Level_White,Skill_Level_Black
13009,False,20,resign,white,justicebot,2700,youredeadmeat,1486,e4 c6 d4 d5 Nc3 dxe4 Nxe4 Bf5 Ng3 Bg6 N1e2 Nf6...,Caro-Kann Defense: Classical Variation,Advanced,Intermediate
10147,True,149,resign,white,blitzbullet,2622,milancuruvija,2188,e4 Nc6 Nf3 d5 exd5 Qxd5 Nc3 Qa5 d4 Bg4 Be3 O-O...,Nimzowitsch Defense | Declined Variation,Advanced,Advanced
19016,False,69,resign,white,lance5500,2621,chessmageddon,2206,e4 c5 Nf3 d6 d4 cxd4 Nxd4 Nf6 Nc3 a6 Bc4 e5 Nf...,Sicilian Defense: Najdorf | Lipnitsky Attack,Advanced,Advanced
11949,False,40,resign,black,lance5500,2621,danny77,2150,e4 e5 Nf3 Nf6 d4 Nxe4 Bd3 d5 Nxe5 Bd6 Qe2 O-O ...,Russian Game: Modern Attack | Center Variation,Advanced,Advanced
11953,False,58,outoftime,black,lance5500,2621,danny77,2150,d3 d5 Nf3 Nf6 g3 c5 Bg2 Nc6 O-O e5 c4 d4 e3 Bd...,Zukertort Opening: Old Indian Attack,Advanced,Advanced
11958,False,42,resign,black,lance5500,2621,danny77,2139,e4 e5 Nf3 Nc6 Bc4 Nf6 Ng5 d5 exd5 Na5 Bb5+ c6 ...,Italian Game: Two Knights Defense | Polerio D...,Advanced,Advanced
12447,False,49,resign,white,lance5500,2621,lukarpov,1802,d4 Nf6 c4 e6 Nf3 d5 Nc3 Be7 Bg5 h6 Bh4 O-O e3 ...,Queen's Gambit Declined: Tartakower Variation ...,Advanced,Intermediate
12449,False,77,resign,white,lance5500,2621,lukarpov,1802,d4 Nf6 c4 e6 Nf3 d5 Nc3 Be7 Bg5 O-O e3 h6 Bh4 ...,Queen's Gambit Declined: Tartakower Variation ...,Advanced,Intermediate
11584,False,14,resign,white,lance5500,2621,thechessdetective,1770,e4 e5 Nf3 Nc6 Bc4 Nf6 Ng5 d5 exd5 Nxd5 d4 Bd7 ...,Italian Game: Two Knights Defense | Lolli Attack,Advanced,Intermediate
12610,False,47,outoftime,white,lance5500,2621,koryakinrus,1715,e4 e5 Nf3 Nc6 Bc4 Nf6 Ng5 d5 exd5 Na5 Bb5+ c6 ...,Italian Game: Two Knights Defense | Polerio D...,Advanced,Intermediate

In [77]:
# What's the most common opening?
df['opening_name'].value_counts().head(10)

opening_name
Van't Kruijs Opening                             368
Sicilian Defense                                 358
Sicilian Defense: Bowdler Attack                 296
French Defense: Knight Variation                 271
Scotch Game                                      271
Scandinavian Defense: Mieses-Kotroc Variation    259
Queen's Pawn Game: Mason Attack                  232
Queen's Pawn Game: Chigorin Variation            229
Scandinavian Defense                             223
Horwitz Defense                                  209
Name: count, dtype: int64

In [ ]:
# What about by White skill level?
df.groupby('Skill_Level_White')['opening_name'].value_counts().head(10)

Skill_Level_White  opening_name
Advanced           Indian Game                                      18
                   Queen's Pawn Game: London System                 17
                   Scandinavian Defense: Mieses-Kotroc Variation    17
                   Horwitz Defense                                  16
                   Queen's Pawn Game: Mason Attack                  16
                   Caro-Kann Defense: Exchange Variation            14
                   Modern Defense                                   14
                   Queen's Pawn Game: Chigorin Variation            14
                   Sicilian Defense                                 14
                   Queen's Gambit Declined                          13
Name: count, dtype: int64

In [79]:
# What about by Black skill level?
df.groupby('Skill_Level_Black')['opening_name'].value_counts().head(10)

Skill_Level_Black  opening_name
Advanced           Indian Game                           31
                   French Defense: Knight Variation      21
                   French Defense: Exchange Variation    19
                   Queen's Pawn Game: Mason Attack       18
                   Sicilian Defense                      18
                   Sicilian Defense: Old Sicilian        18
                   Queen's Pawn Game: London System      17
                   Modern Defense                        15
                   Sicilian Defense: Bowdler Attack      14
                   Sicilian Defense: French Variation    13
Name: count, dtype: int64